body {
    background-color: white;
  }
  h1 {
    color: red;
  }
  p {
    color:black;
  }

  icon_img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50;
    height: 50px;
  }